.menuConfig {
  display: flex;
}
.menuTreeContainer {
  height: 700px;
  border: 1px solid #ddd;
}
.menuTreeTitle {
  height: 40px;
  margin-left: 20px;
  font-size: 14px;
  font-family: PingFangSC-Medium;
  line-height: 40px;
  text-align: left;
}
.menuTree {
  height: 758px;
  padding: 5px 20px;
}
.menuContent {
  height: 700px;
  margin-left: 10px;
  border: 1px solid #ddd;
}
.menuContentTitle {
  height: 40px;
  margin-left: 20px;
  font-size: 14px;
  font-family: PingFangSC-Medium;
  line-height: 40px;
  text-align: left;
}
.meneConfigForm {
  padding: 5px 20px;
}